.App {
  text-align: center;
}

.board{
  display: flex;

}

.boardRow:nth-child(odd) .gridCell:nth-child(even), .boardRow:nth-child(even) .gridCell:nth-child(odd) {
	background-color: burlywood;
  
}

.gridCell {
  width: 100px;
  height: 100px;
  border: 0.025rem solid black;
  background-color: #845424;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
